<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Register.css">
    <script src="~/Scripts/mainjava.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- has to be in the right order-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
